[submodule "PACE2017-TrackA"]
	path = PACE2017-TrackA
	url = https://github.com/TCS-Meiji/PACE2017-TrackA.git
[submodule "nauty"]
	path = nauty
	url = https://github.com/lonnen/nauty
[submodule "ExperimentsResults"]
	path = ExperimentsResults
	url = https://github.itu.dk/chle/ExperimentsResults.git
